{% extends 'base.html' %}
{% block content %}
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	{% if next %}
		{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
		{% else %}
		<p>Please login to see this page.</p>
		{% endif %}
	{% endif %}
<div class="container">
    <div class="loginform">
        <h2>Login</h2>
        <!-- <br> -->
        <div class="logintext">
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <a href="/">Start chat</a>
            {% else %}
                <div class="login_type_container">
                    {{ response.notes.global|default:"" }}
                </div>
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <p class="bs-component">
                        <table>
                            <tr>
                                <td>Username</td>
                                <td><input type="username" name="username" placeholder="Username" required autofocus value="priyankat1"></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input type="password" name="password" placeholder="Password" required value="password123"></td>
                            </tr>
                        </table>
                    </p>
                    <p class="bs-component">
                        <center>
                            <input type="submit" class="submit btn btn-success btn-sm" value="Login" /></center>
                    </p>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
        	{% endif %}
        </div>
    </div>
</div>

{% endblock %}
