
{% block content %}
<!DOCTYPE html>
<html>
<title>{% block title %}Home{% endblock %}</title>
<header>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <style media="screen">
          .post-entry{
            width: 80%;
          }

          .button2{
            text-align: right;
            color: black;
          }
          .button2 a{
            color: black;
            font-style: none;
          }
          /* .link{
            text-align: right;
            font-size: 18px;
          }
          .link a{
            color: red;
          } */
    </style>
</header>

  <body>
    <div class="button2">
          <a href="{% url 'logout' %}">Logout</a>
    </div>

    <div class="post-entry">
        {% for chat in object_list %}
            {{ chat.textmsg }}<br>
        {% endfor %}
    </div>

    <div class="form-work">
        <form method="post" action="">{% csrf_token %}
             {{ form.as_p}}
             <input type="submit" name="submitbtn" value="send">
        </form>

    </div>

    <!-- <div class="textarea">
          <br>
            <form method="POST" action="{% url 'logout_redirect' %}">
              <label> messagebox </label>
              <textarea name="MessageBox" rows="3" cols="40"></textarea>
              <input type="submit">
              {% csrf_token %}
            </form>
      </div> -->

        <!-- <form action="'{% url 'home' %}'" method="post">
            <input type="button" value="Send" />
        </form> -->

    <!-- <script type="text/javascript">
        $('#submitname').click(function(){
          alert("hello");
            $.ajax({
              type:'post',
              // url: '/chat/list/',
              data: {'message':document.getElementById('MessageBox').value},
              dataType: 'json',
            });
        });

    </script> -->
</body>


</html>
{% endblock %}
