
{% block content %}
<!DOCTYPE html>
<html>
<title>{% block title %}Home{% endblock %}</title>
<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <style media="screen">
          .post-entry{
            width: 80%;
          }
          .button2{
            text-align: right;
            color: black;
          }
          .button2 a{
            color: black;
            font-style: none;
          }

    </style>
</header>

  <body>
    <div class="button2">
          <a href="{% url 'logout' %}">Logout</a>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
        <div class="post-entry">
            {% for chat in object_list %}
                {{ chat.textmsg }}<br>
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <br>
        <div class="form-work">
            <form method="post" action="">
                {% csrf_token %}
                 {{ form.as_p}}
                 <input type="button" name="submitbtn" id="submit_id" value="send">
            </form>
        </div>
    </div>

    <!-- <div class="textarea">
          <br>
            <form method="POST" action="{% url 'logout_redirect' %}">
              <label> messagebox </label>
              <textarea name="MessageBox" rows="3" cols="40"></textarea>
              <input type="submit">
              {% csrf_token %}
            </form>
      </div> -->

        <!-- <form action="'{% url 'home' %}'" method="post">
            <input type="button" value="Send" />
        </form> -->
    <script type="text/javascript">
        $('#submit_id').click(function(){
          // var temp = document.getElementById("id_textmsg").value;
          var csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        /**
         * var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
         */
          var chatMsg = $("#id_textmsg").val();
            $.ajax({
              type:'post',
              url: '/chat/list/',
              data: {'textmsg':chatMsg,"csrfmiddlewaretoken":csrfmiddlewaretoken},
              // dataType:"json",
              success:function () {
                location.reload();;
              }
            });
        });
    </script>
</body>
</html>
{% endblock %}
