{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<header>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <style media="screen">
          .post-entry{
            width: 80%;
          }
          /*.link{
            text-align: right;
            font-size: 18px;
          }
          .link a{
            color: red;
          }*/
    </style>


</header>
  <body>
    <div class="post-entry">
      {% for chat in object_list %}
          <p> {{ chat.textmsg }}</p>
        </div>
      {% endfor %}

      <div class="textarea">
          <label for="messagebox">messagebox</label>
          <textarea id="MessageBox" rows="3" cols="40"></textarea>

            <input value="Send" id="submitname" type="button">
            {% csrf_token %}

        <!-- <form action="'{% url 'home' %}'" method="post">
            <input type="button" value="Send" />
        </form> -->

      </div>
    </div>
    <script type="text/javascript">
        $('#submitname').click(function(){
          alert("hello");
            $.ajax({
              type:'post',
              url: 'home',
              data: {'message':document.getElementById('MessageBox').value},
              dataType: 'json'
            });
        });

    </script>
</body>


</html>
{% endblock %}
